
.navigation {
             font-size: 180%;
             border-bottom: 6px double pink;
              border-top: 6px double pink;
              font-family: 'Times New Roman'; font-style: italic;}

.navigation button { background-color: white}
.navbar-brand{font-size: 100%;}
.navigation .navbar-brand{
          color: white; }
.nav-link {color: black !important;}
.nav-item :hover{color:white!important}
.dropdown-menu a:hover {color:grey!important}

.page-item {padding: 10px;
            border: 2px dotted green}
.page-item a {color:green}

h2, h4, h5, h6, h3 {text-align: center;}
img{width: 230px; height:230px; }
.detail_all{border: 1px solid green;}

.form {border: 3px double green;border-radius: 8px; color:#535956;  width: 900px }
.form table {color:#535956; text-align: center;}
.form a {color:green; margin-bottom: 5%}
.form h3 {font-family: 'Times New Roman'; font-style: normal; font-size: 130%; color:#535956}
pre {white-space: pre-wrap;       /* css-3 */
	   white-space: -moz-pre-wrap;  /* Mozilla, с 1999 года*/
	   white-space: -pre-wrap;      /* Opera 4-6 */
	   white-space: -o-pre-wrap;
     font-family: 'Times New Roman'; font-style: normal; font-size: 120%; color:#535956}
b {font-size: 110%}
p  b {font-size: 120%;font-family: 'Times New Roman'; font-style: normal; font-size: 115%; color:#535956}
pre+p{ margin-bottom: 0%}
.button a{ margin-bottom: 2%; font-weight: bold;}
p+table {width:95%; height:25%; position:absolute; bottom:23%}
.mx-auto a {position:absolute; bottom:5%;  width:200px; border:2px solid green; font-weight: 600; font-size:115%}
.create  input,  textarea {width:150%;}
body .container-fluid {height: 90%}
.container-md  .auth {border: 3px double green;border-radius: 8px; width: 80%; height:50%; margin-top: 5%; font-size: 110%}
