
.navigation {
             font-size: 150%;
             border-bottom: 6px double pink;
              border-top: 6px double pink;
             font-family: 'Lobster';

             }

.navigation button { background-color: white}
.navbar-brand{font-size: 100%;}
.navigation .navbar-brand{
          color: white; }

.nav-link {color: black !important;}
 a:hover{color:white!important}
.dropdown-item:hover {color:grey!important}
/* .page-item:hover {color:green!important}  #вопрос */
/* body {font-family: 'Lobster'!important} */


.detail h2{text-align: center;}
.detail{width:1000px; height:600px; }

h2, h4 {text-align: center;}
img{width: 230px; height:230px; }
.detail_all{border: 1px solid green;}

.form {border: 3px double green;border-radius: 8px; width: 80%;  font-family: 'Lobster'; color:#535956; margin-top: 20px;}
.form table {color:#535956; text-align: center;}
.form button  {margin-left: auto; margin-right: auto; }
