{% extends 'blog/base.html' %}
{% block content %}


<div class="container-md">
  <div class="auth p-2 mx-lg-auto" >
  <p style="margin-bottom: 20px;margin-top: 60px">Введите email и пароль, указанные в размещенной Вами вакансии или резюме.</p>
  <form class="form-inline my-2 my-lg-0" action="{% url 'blog:auth_user' %}" method="POST">{% csrf_token %}
  <input class="form-control mr-sm-2" style="font-weight: bold; border: 1px double grey" name='email' placeholder="email" aria-label="email">
  <input class="form-control mr-sm-2" style="font-weight: bold; border: 1px double grey" name='password' placeholder="password" aria-label="password">
  <button class="btn btn-outline-success my-2 my-sm-0" style="font-weight: bold" type="submit">log in</button>
</form>

  {% if user == None %}
  <div class="alert alert-success " role="alert">
  Email или пароль указаны не верно
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% endif %}
  <form class="form-inline my-2 my-lg-0" action="{% url 'blog:auth_user' %}" method="GET">{% csrf_token %}
  <p style="margin-bottom: 20px;margin-top:14%">Забыли пароль? Введите email
   указанный в Вашей вакансии или резюме. Нажмите "Восстановить". Письмо с паролем будет отправлено Вам на почту.</p>
  <input class="form-control mr-sm-2" style='font-weight: bold; border: 1px double grey;' name='email' placeholder="email" aria-label="email">
  <button type="submit"class="btn btn-outline-success my-2 my-sm-0"style="font-weight: bold; ">Восстановить</button>
  </form>
  {% if user == "YES" %}
  <div class="alert alert-success " role="alert">
  Письмо с паролем отправлено.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% elif user == "NO" %}
  <div class="alert alert-success " role="alert">
  На "Worker" нет размещенных вакансий и резюме с этим email.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {% endif %}
  </div>
  </div>
</div>
{% endblock %}
{% block pagination %} {% endblock %}
