{% extends 'blog/base.html' %}
{% block content %}


<div class="container">
  <div class="form"style="margin-top: 40px; " >
  <p style="margin-bottom: 40px;margin-top: 40px">Введите email и пароль, указанные в размещенной Вами вакансии или резюме.</p>
  <form class="form-inline my-2 my-lg-0" action="{% url 'blog:auth_user' %}" method="POST">{% csrf_token %}
  <input class="form-control mr-sm-2" name='email' placeholder="email" aria-label="email">
  <input class="form-control mr-sm-2" name='password' placeholder="password" aria-label="password">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">log in</button>
</form>

  {% if user == None %}
  <div class="alert alert-success " role="alert">
  Email или пароль указаны не верно
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% endif %}
  <form action="{% url 'blog:auth_user' %}" method="GET">{% csrf_token %}
  <p style="margin-bottom: 3%;margin-top:12%">Забыли пароль? Введите email
   указанный в Вашей вакансии или резюме. Нажмите "Восстановить". Письмо с паролем будет отправлено Вам на почту.</p>
  <input style='height: 37px; margin-bottom: 5%' name='email' placeholder="email" aria-label="email"> <button type="submit" class="btn btn-outline-success">Восстановить</button>
  </form>
  {% if user == "YES" %}
  <div class="alert alert-success " role="alert">
  Письмо с паролем отправлено.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% elif user == "NO" %}
  <div class="alert alert-success " role="alert">
  На "Worker" нет размещенных вакансий и резюме с этим email.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {% endif %}
  </div>
  </div>
</div>
{% endblock %}
{% block pagination %} {% endblock %}
