{% load static %}
<html lang="en">
      <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width">

        <title>Blog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">


    </head>
    {% block nav %}
    <div class="site_name"
    <div class="container-fluid p-0 "style="margin-left: 0px; margin-right: 0 px;">

    <nav class="navigation navbar navbar-expand-lg navbar-light" style="background-color: green">
    <a class="navbar-brand" href="#">Worker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'blog:python_developer' %}">Python developer</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Java developer</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Разместить резюме</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Разместить вакансию</a>



      </ul>
     </div>
     </div>
</nav>
</div>
     {% endblock %}



      {% block content %} {% endblock %}

      {% block pagination %}
      <div class="container-fluid">
      <nav aria-label="...">
          <ul class="pagination justify-content-center">

             <li class="page-item">
             {% if page_obj.has_previous %}
             <a href="?page={{ page_obj.previous_page_number }}">назад</a>
             {% endif %}
             </li>

              <li class="page-item">
              {% if page_obj.number == 1 %}
              <a  href="/all?page=1">1</a>  из {{ page_obj.paginator.num_pages }}

              {% else %}
              {{page_obj.number}} из {{ page_obj.paginator.num_pages }}
              {% endif %}
              </li>

              <li class="page-item">
             {% if page_obj.has_next %}
             <a href="?page={{ page_obj.next_page_number }}">далее</a>
             {% endif %}
              </li>


          </ul>
      </nav>

      {% endblock %}


    </body>
  </html>
