{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
 {% for each in page_obj %}

      <div class="form" style="height:220px">
      <h4 style="margin-bottom:3%; margin-top: 2%;">{{ each.first_name }}{{ each.surname }}</h4>
      <p><b>Позиция:   {{each.position|cut:"https"}}</b></p>
      <p style="margin-bottom:3%">{{ each.published_date|date:"d m Y"   }}</p>
      <button type="submit" class="btn btn-outline-success">Редактировать</button>
      <button type="submit" class="btn btn-outline-success">Обновить</button>
      </div>
 {% endfor %}

</div>
{% endblock %}
