{% extends 'blog/base.html' %}
{% block content %}

  <div class="container-md px-1">
  <form method="POST">{% csrf_token %}
    {% if form_resume %}
    <div class ="form mt-md-0  mt-xl-3 p-1">
    <h2>Резюме</h2></div>
    <div class ="form">
    <table class="create">
    {{ form_resume  }}
    </table></div>
    <div class ="form"style="margin-bottom: 20px;" >
    <button type="submit" class="btn btn-outline-success">Сохранить</button></div>
    {% else %}
    <div class ="form mt-md-0  mt-xl-3 p-1">
    <h2>Вакансия</h2></div>
    <div class ="form">
    <table class="create">
    {{ form  }}
    </table></div>
    <div class ="form"style="margin-bottom: 20px;" >
    <button type="submit" class="btn btn-outline-success">Сохранить</button></div>
    {% endif %}
    </form>
    </div>
{% endblock %}
{% block pagination %} {% endblock %}
