{{% extends 'blog/base.html' %}
{% block content %}
<div class="container-fluid">
<div class="row">
  {% for each in page_obj %}
  <div class="col-12 col-md-4" style= "position:relative; height: 405px;border: 1px solid green;">
  <h5 style="margin-bottom:2%; margin-top: 2%;">{{ each.first_name }} {{ each.surname }}</h5>
  <div class="mb-md-0 mb-xl-2"><b >Позиция: {{each.position|cut:"https"|truncatechars:30}}</b></div>
  <p>{{ each.experience|truncatechars:230|linebreaksbr }}</p>
  <table>
  <tr>
  <td>Навыки: </td> <td>{{ each.skills|truncatechars:30 }}<td>
  </tr>
  <tr>
  <td>Локация:</td> <td>{{ each.town }}</td>
  </tr>
  <tr>
  <td>Заработная плата:</td> <td>{{ each.salary|default:"не указана"}}</td>
  </tr>
  <tr>
  <td>Дата:</td><td>{{ each.published_date|date:"d m Y" }}</td>
  </tr>
  </table>
  <div class="mx-auto" style="width: 200px">
  <a href="{% url 'blog:resume_detail' each.id %}"class="btn btn-outline-success"
  style="border: 2px solid green; font-weight: 600;font-size: 115%;">Подробнее</a></div>
  </div>
{% endfor %}
</div>
</div>
{% endblock content%}
