{% extends 'blog/base.html' %}
{% block content %}
<div class="container-fluid ">
<div class="row">
 {% for post in vacancies_list %}

    <div class="col-12 col-sm-4" style= "width: 400px; height: 400px;border: 1px solid green;">
      <div class="post" style="width: 550px; height: 300px;">
      <h2>{{ post.title }}</h2>
      {% if post.img %}
     <img src="{{post.img.url}}" alt="{{ post.img.name }}">
     {% else %}
     <p>{{ post.snippet }}</p>
     {% endif %}
     </div>
     <!-- <form action="{% url 'blog:homePageView' %}" method="GET">{% csrf_token %}
     <pre><a href="{% url 'blog:detail'  post.id %}"class="btn btn-success">Подробнее</a>                   Количество просмотров:  {{ post.quantity }}</pre>
     <div  stile="text-align: bottom"><h5><pre>автор:{{ post.author }}            {{ post.published_date }} </pre></h5></div>


     </form> -->
     </div>

{% endfor %}
</div>
</div>
{% endblock %}
