{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
<div class ="form" style="margin-top: 20px;padding: 20px">
     <h3 >{{vacancy.position|cut:"https"}}</h3>
      {% if owner == "YES"  %}
      <div class="button">
      <a href="{% url 'blog:change_vacancy' vacancy.id %}" style="margin-bottom: 2%" class="btn btn-outline-success">редактировать</a>
      <a href="{% url 'blog:cabinet' %}" style="margin-bottom: 2%" class="btn btn-outline-success">сохранить</a></div>
      {% endif %}
     <pre style="margin-bottom: 0;">Компания: {{vacancy.company}}</pre>
     <pre style="margin-bottom: 0;">Тип работы: {{vacancy.type_work|cut:"https"}}</pre>
     <pre>Местоположение: {{vacancy.town|cut:"https"}}</pre>
     <p><b>Описание вакансии </b></p>
     <pre>{{vacancy.description|cut:"https"}}</pre>
     {% if  vacancy.responsibilities %}
     <p><b>Обязанности</b></p>
     <pre>{{vacancy.responsibilities|cut:"https"}}</pre>
     {% endif %}
     <p><b>Навыки</b></p>
     <pre>{{vacancy.skills|cut:"https"}}</pre>
     <p><b>Мы предлагаем</b></p>
     <pre>{{vacancy.offer|cut:"https"}}</pre>
     <pre style="margin-bottom: 0">Телефон: {{vacancy.phone|phone2numeric}}</pre>
     <pre>Email: {{vacancy.email}}</pre>
</div>
{% endblock %}
{% block pagination %} {% endblock %}
