{% extends 'blog/base.html' %}
{% block content %}


<div class="container-fluid">
<div class="row">
 {% for each in page_obj %}
 {% if each.position %}
 <div class="col-12 col-sm-4" style="position:relative; height: 405px;border: 1px solid green;">
 <h4 style="margin-bottom:4%; margin-top: 2%;">{{ each.position|truncatechars:53}}</h4>
 <p style="margin-bottom:5%">{{ each.description|truncatechars:230  }}</p>
 <table >
 <tr>
 <td>Компания: </td> <td>{{ each.company|truncatechars:17 }}<td>
 </tr>
 <tr>
 <td>Локация:</td> <td>{{ each.town }}</td>
 </tr>
 <tr>
 <td>Заработная плата:</td> <td>{{ each.salary|default:"не указана" }}</td>
 </tr>
 <tr>
 <td>Дата обновления:</td><td>{{ each.published_date|date:"d m Y" }}</td>
 </tr>
 </table>
 <div class="mx-auto" style="width: 200px">
 <a href="{% url 'blog:vacancy_detail' each.id %}"class="btn btn-outline-success"
  >Подробнее</a></div>
 </div>

  {% else %}
     <div class="col-12 col-sm-4" style="position:relative; height: 405px;border: 1px solid green;">
      <h4 style="margin-bottom:4%; margin-top: 2%;">{{ each.title|truncatechars:53}}</h4>
      <p style="margin-bottom:5%">{{ each.snippet|striptags|cut:"&nbsp;..."|cut:"&nbsp;"|truncatechars:230  }}</p>
      <table >
      <tr>
      <td>Компания: </td> <td>{{ each.company|truncatechars:17}}<td>
      </tr>
      <tr>
      <td>Локация:</td> <td>{{ each.location }}</td>
      </tr>
      <tr>
      <td>Заработная плата:</td> <td>{{ each.salary|default:"не указана" }}</td>
      </tr>
      <tr>
      <td>Дата обновления:</td><td>{{ each.updated|slice:10}}</td>
      </tr>
      </table>
      <div class="mx-auto" style="width: 200px">
      <a href="{{ each.link }}"class="btn btn-outline-success"
       >Подробнее</a></div>
      </div>
    {% endif %}
 {% endfor %}
</div>
</div>
{% endblock %}
