{% extends 'blog/base.html' %}
{% block content %}
<div class="container-fluid">
<div class="row">
 {% for each in page_obj %}


      <div class="col-12 col-sm-4" style= " height: 400px;border: 1px solid green;"">

        {% for key, value in each.items %}

          {% if  key == "title" %}
         <h4>{{ value }} </h4>
         <!-- {% elif  key == "location" %}Локация: {{ value }} -->

          {% elif  key == "snippet" %}
          <p>{{ value|striptags|cut:"&nbsp;..."|truncatechars:272  }}</p>
          {% elif  key == "salary" %}Заработная плата: {{ value|default:":не указана" }}
          <pre>{% elif  key == "company" %}Компания: {{ value }}{% elif  key == "updated" %}       Дата обновления: {{ value|slice:":10" }}
          {% endif %}</pre>






        {% endfor %}
 </div>

{% endfor %}

</div>
</div>
{% endblock %}
