{% extends 'blog/base.html' %}
{% block content %}

    <div class="container-md">
      <div class ="auth mx-lg-auto p-3">
       <h5 style="margin-bottom: 30px;"><b>Worker</b></h5>
       <p style='text-indent: 10px;'> Сайт для бесплатного поиска работы, размещения вакaнсий и резюме.
         Ваши вакансии, резюме станут доступны для просмотра соискателями и
         будут удалены через 2 месяца после последнего обновления.</p>
       <p > Вопросы и предложения принимаются на worker.search772@gmail.com</p>
      </div>
    </div>

{% endblock %}
{% block pagination %} {% endblock %}
