{% extends 'blog/base.html' %}
{% block content %}

    <div class="container">
      <div class ="form" style="margin-top: 50px; padding: 20px;
      height:420px;">
       <h5 style="margin-bottom: 10px;"><b>Worker</b></h5>
       <p style='text-indent: 20px;'> Сайт для бесплатного поиска работы, размещения вакaнсий и резюме.
         Ваши вакансии станут доступны для просмотра соискателями и
         будут удалены через 2 месяца после последнего обновления.</p>
       <p> Вопросы и предложения принимаюся на worker@com.ua</p>
      </div>
    </div>

{% endblock %}
{% block pagination %} {% endblock %}
